*,
::after,
::before{
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 3px;
    font-size: 14px;
    line-height: 1.42857;
    color:white;
    margin: 0;
    padding: 0;
    background: url(fond_ecran.jpg);
    background-size: cover;
    /* LE COVER POUR LE 4k !!!!!! */
    background-repeat: no-repeat;
    background-attachment: fixed;

}
a{
    color: white;
}

.page{
    position: relative;
    width: 100%;
    height: auto;

}

header{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);

    z-index: 9999;

}





.nav-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    top:0;
    margin: auto;
    width: 70%;
    height: 15%;
    padding: 15px 15px;
    z-index: 9999;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
}
.nav-container{
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-tabs {
    width: 100%;
    display: flex;

    font-weight: 2.4rem;
    font-size: 18px;
    list-style: none;
    align-content: center;
    align-items: center;
    align-content: space-between;

    text-transform: uppercase;
    color: white;


}

.nav-tabs a{
    text-decoration: none;
}

.nav-tabs li{
    padding: 0 15px 0 15px;

}

.nav-tabs li:hover{
    transform: scale(1.1);
}

.nav-tab,
.menu-btn {
    cursor: pointer;
}
.hidden {
    display: none;
}

@media screen and (max-width: 768px) {

    .nav-wrapper {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        top:0;
        margin: auto;
        width: 90%;
        height: 15%;
        padding: 15px 15px;
        z-index: 9999;
    }

    .nav-wrapper {
        height: 7%;
    }

    .nav-container {

		position: relative;
		display: none;
		z-index: 0;
		top: 0;
        left: 0;
		background:rgba(0, 0, 0, 0.8);
    }
    .nav-tabs {
        display: flex;
        position: fixed;
		flex-direction: column;
		align-items: center;
        top: 88px;
        left: 0;
        right:0;
        width: 100%;
        background-color: rgba(0, 0, 0, .9);

        margin-bottom: 1%;


	}
    .nav-tabs li {
        margin: 2%;
         transition: .4s;
    }
    .nav-tabs li:hover{
        transform: scale(1.1);
        margin-right: 3%;
    }

	.nav-tab:not(:last-child) {
		padding: 20px 25px;
		margin: 0;
		border-right: unset;

	}
	.menu-btn {
        /* position: relative; */
		margin: 0;
		cursor: pointer;
		z-index: 20000;
		padding: 15px;

    }
	.menu-btn .menu {
		display: block;
        width: 100%;
        height: 2px;
		border-radius: 2px;
        background:white;
        z-index: 20000;
	}

	.menu-btn .menu:nth-child(2) {
		margin-top: 6px;
		opacity: 1;
	}

	.menu-btn .menu:nth-child(3) {
		margin-top: 6px;
	}

	#menuToggle:checked + .menu-btn .menu {
		transition: transform 0.2s ease;
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(1) {
		transform: translate3d(0, 8px, 0) rotate(45deg);
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(2) {
		opacity: 0;
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(3) {
		transform: translate3d(0, -8px, 0) rotate(-45deg);
	}

	#menuToggle:checked ~ .nav-container {
        display: block;
        position: relative;
        width: 100%;
		display: flex;
        animation: menu-slide-top 0.3s ease;
    }
    #menuToggle:checked > header{
        position: relative;
        height: 500px;
    }
	@keyframes menu-slide-right {
		0% {
			transform: translateX(200px);
		}
		to {
			transform: translateX(0);
		}
	}
}
@media screen and (max-width: 450px){
    body > header > div > nav > div > ul{
        padding: 0;
    }
}
/* FIN DU MEDIA KERIES SUR LA NAV BAR */

 /* Border Link Hover */

.navbar .menu a.nav-link:hover{
transform: scale(1.1);
}

a.nav-tab {
position: relative;
text-align: center;
}
a.nav-tab::after {
content: "";
position: absolute;
top: 100%;
left: 0;
display: block;
width: 0;
border-bottom: 1px solid white;
transition: .4s ease-in-out;
}
a.nav-tab:hover::after, a.nav-link:active::after {
width: 100%;
}

.content_article {

padding-top: 150px;
position: relative;
display: flex;
flex-direction: column;
width: 70%;
margin: auto;
}

.article{
position: relative;
display: flex;
flex-flow: row nowrap;
align-content: center;
align-items: center;
margin: 1% 0% 1% 0%;
background-color: rgba(0, 0, 0, 0.8);
height: 150px;
padding: 5px;
cursor: pointer;
transition: all .3s ease;
filter : grayscale(50%);
overflow: hidden;

}
.article:hover{
    filter : grayscale(0%);
}
/* LE FOCUS NE FONCTIONNE PAS si aucun attribut tabindex =" " en html*/
.article:focus {
    outline: none;
    transform: scale(1.05);
    filter : grayscale(0%);
    animation: boxshadow infinite 8s normal both;
}
/* TOUJOURS PENSER QUE FOCUS-WITHIN FONCTIONNE SUR L'ELEMNT PARENT */

.content_article:focus-within>.article:not(:focus){
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.9;
}


@keyframes boxshadow {
    0%{
        box-shadow: 0px 0px 9px 7px #2ecc71,
                    0px 0px 9px 7px #2ecc71,
                    0px 0px 9px 7px #c0392b,
                    0px 0px 9px 7px #3498db,
                    0px 0px 9px 7px #c0392b,
                    0px 0px 9px 7px #3498db,
                    0px 0px 9px 7px #2ecc71,
                    0px 0px 9px 7px #c0392b,
                    0px 0px 9px 7px #3498db;
    }
    25% {
        box-shadow: 0px 0px 9px 4px #c0392b,
                    0px 0px 9px 4px #c0392b,
                    0px 0px 9px 4px #3498db,
                    0px 0px 9px 4px #c0392b,
                    0px 0px 9px 4px #3498db,
                    0px 0px 9px 4px #2ecc71,
                    0px 0px 9px 4px #c0392b,
                    0px 0px 9px 4px #3498db,
                    0px 0px 9px 4px #2ecc71;
    }
    50% {
        box-shadow: 0px 0px 9px 6px #3498db,
                    0px 0px 9px 6px #3498db,
                    0px 0px 9px 6px #c0392b,
                    0px 0px 9px 6px #3498db,
                    0px 0px 9px 6px #2ecc71,
                    0px 0px 9px 6px #c0392b,
                    0px 0px 9px 6px #3498db,
                    0px 0px 9px 6px #2ecc71,
                    0px 0px 9px 6px #c0392b;
    }
    100% {
        box-shadow: 0px 0px 9px 9px #c0392b,
                    0px 0px 9px 9px #c0392b,
                    0px 0px 9px 9px #3498db,
                    0px 0px 9px 9px #2ecc71,
                    0px 0px 9px 9px #c0392b,
                    0px 0px 9px 9px #3498db,
                    0px 0px 9px 9px #2ecc71,
                    0px 0px 9px 9px #c0392b,
                    0px 0px 9px 9px #3498db;
    }
}
.article_img{
    display: flex;
    align-content: center;
    overflow: hidden;
    max-width: 30%;
    max-height: 150px;

}
.article_img img{
    width: 100%;
    max-height: 130px;
    object-fit: cover;
}
.article_text{
    display: flex;
    justify-content: space-between;
    padding: 1% 0% 0% 1%;
    width: 100%;

}
.article_text .text_titre{
    max-width: 80%;
}
.article_text .text_prix{
    max-width: 30%;
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
    align-content: flex-end;
    align-items: flex-end;
}
.article_text .text_titre h2{
    margin-top:0px;
    top: 0;
    text-transform: uppercase;
}

.article_text .text_prix .prix{
    font-size: 1.5em;
    color: #2ecc71;
    text-align: bottom;

}


@media screen and (max-width: 768px){

    .content_article {
        width: 90%;
        padding-top: 300px;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .article{
        flex-flow: column nowrap;
        align-content: center;
        align-items: center;
        margin: 1% 1% 1% 1%;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius:1rem;
        height: 250px;
        width: 200px;
    }
    .article_img{
        border-radius: 1rem;
        overflow: hidden;
        height: 150px;
        max-width: 100%;
        width: 100%;
    }
    .article_img img{
        width: 100%;
        height: auto;
    }
    .article_text{
        flex-direction: column;
        padding: 1% 1% 1% 1%;
        height: 50%;
        width: 100%;

    }
    .article_text .text_titre h2{
        font-size: .7rem;
    }

    .article_text .text_titre p{
        display: none;

    }
    .article_text .text_prix .prix {
        margin:0;
    }
    .article_text .text_prix {
        align-items: flex-end;
    }
}

@media screen and (max-width: 450px){
    .content_article {

        padding-top: 250px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .article{
        flex-direction: column;
        margin: 3% 0 3% 0;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 1%;
        border-radius:1px;
    }

    .article_img img{
        width: 100%;
        height: auto;
    }

    .article_text h2{
        font-size: .9rem;

    }
    .article_text p{
        font-size: .7rem;
    }
}
